<div class="page-header">
    <h1>پرسشنامه ارزیابی دوره از دیدگاه شرکت کنندگان</h1>
</div>
<div class="row">
  <div class="col-xs-5">
    <a href="#!/new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> پرسش جدید</a>
  </div>
  <div class="col-xs-7">
    <input type="text" class="form-control" ng-model="query" placeholder="جستجو پرسش">
  </div>
</div>

<div class="row"><div class="col-xs-12"><hr></div>
</div>

<div class="row" ng-switch on="polls.length">
<ul ng-switch-when="0">
  <li><em>پرسشی در بانگ ذخیره نشده. آیا مایل به ایجاد <a href="#!/new">یک پرسش</a> می باشید؟ </li>
</ul>
<ol ng-switch-default style="font-size:18px">
  <li ng-repeat="poll in polls | filter:query">
    <a class="question" href="#!/poll/{{poll._id}}">{{poll.question}}</a>
  </li>
</ol>
</div>

<p>&nbsp;</p>